/* Grundreset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body mit Verlauf + Schrift */
body {
  font-family: "Raleway", sans-serif;
  background: radial-gradient(circle at top left, #1c818b 10%, #0f1c2b 90%);
  color: #fff;
  overflow-x: hidden;
  height: 100vh;
  margin: 0;
}

.key-features {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  position: relative;
}

.features-side-heading {
  position: absolute;
  top: 0;
  right: 0;
  /* Optional: Abstand vom Rand */
  margin: 1rem;

  font-size: 4.375rem;
  text-align: left;
  letter-spacing: 0.066rem;
  color: #ffffff;
  text-transform: uppercase;
  opacity: 1;
  backdrop-filter: blur(1.875rem);
  -webkit-backdrop-filter: blur(1.875rem);
}

.topics {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr; /* 2 gleich breite Spalten */
  grid-template-rows: auto auto; /* 2 Zeilen, Höhe passt sich dem Inhalt an */
  gap: 1rem;
  left: 3.813rem;
  bottom: 3.813rem;
  width: 52.313rem;
  height: 52.375rem;
  padding: 2rem;

  background: rgba(255, 255, 255, 0.2) 0% 0% no-repeat padding-box;
  border-radius: 4.75rem;
  backdrop-filter: blur(30px);
  -webkit-backdrop-filter: blur(30px);
}

.topic {
  display: none;
  padding: 80px;
  text-align: center;
  grid-column: 1; /* erste Spalte, obere Zeile */
  grid-row: 1;
}

.topic-arrow {
  cursor: pointer;
  align-self: center;

  width: 20px;
  /* verhindert leichte Verschiebungen */
  margin-right: 1rem;
  /* Abstand zwischen den Boxen */
  grid-column: 2; /* zweite Spalte, obere Zeile */
  grid-row: 1 / span 2;
}

.topic-title {
  left: 128px;
  top: 76px;
  height: 92px;
  text-align: left;
  font: normal normal bold 40px/45px Raleway;
  letter-spacing: 0.6px;
  color: #ffffff;
  opacity: 1;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.topic-text {
  left: 128px;
  top: 195px;
  height: 92px;
  width: 522px;

  text-align: left;
  font: normal normal normal 25px/35px Raleway;
  letter-spacing: 0.38px;
  color: #ffffff;
  opacity: 1;
  font-size: 1rem;
  line-height: 1.4;
}

/* The dot/bullet/indicator container */
.dot-container {
  grid-column: 1 / -1; /* Spannt über beide Spalten */
  grid-row: 2;
  justify-self: center;
  align-self: center;
  display: flex;
  text-align: center;
  padding: 20px;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  width: 86px;
  height: 8px;
  margin: 0 0.5rem;
  display: flex;

  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 9px;
  opacity: 1;
  backdrop-filter: blur(1.875rem);
  -webkit-backdrop-filter: blur(1.875rem);
}

/* Add a background color to the active dot/circle */
.active,
.dot:hover {
  background-color: #717171;
}
/*=========================================*/
