.package-card {

    width: 489px;
    height: 610px;
    /* UI Properties */
    background: #42AFA9 0% 0% no-repeat padding-box;
    border-radius: 26px;
    opacity: 1;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
}

/* Erste Variante (z. B. Türkis) */
.teal-background {
    background: #42AFA9;
}

/* Zweite Variante (z. B. dunkles Blau) */
.dark-background {
    background: #1B223B;
    /* oder ein beliebiger Wert */
}

.title {
    text-align: left;
    font: normal normal 800 25px/80px Raleway;
    letter-spacing: 0.38px;
    color: #FFFFFF;
    text-transform: uppercase;


}

.price {
    text-align: left;
    font: normal normal bold 100px/30px Raleway;
    letter-spacing: 1.5px;
    color: #FFFFFF;
    text-transform: uppercase;
}

.invest-button {
    width: 400px;
    height: 48px;

    border: 2px solid #FFFFFF;
    border-radius: 16px;
}